{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
  
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Button
      </h1>
      <h2 class="govuk-heading-m color-blue">
        I am button
      </h2>

      <a href="#" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg>
      </a>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>

      <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Find address
      </button>

      <button type="submit" class="govuk-button govuk-button--warning" data-module="govuk-button">
        Delete account
      </button>

      <button type="submit" class="govuk-button govuk-button--inverse" data-module="govuk-button">
        Create an account
    </button>

    <button type="submit" disabled aria-disabled="true" class="govuk-button" data-module="govuk-button">
      Disabled button
    </button>

    


      <p>
        Read more <a href="/path/of/page">about this topic</a>.
      </p>

    </div>
  </div>

{% endblock %}
